#back-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
  background: #993333;
  border-radius: 999px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  z-index: 1000;
}
#back-top img {
  width: 20px;
  height: auto;
}

.footer {
  padding-top: 60px;
  background-image: url("../images/patten-1.png");
  background-size: cover;
  background-repeat: repeat;
  /* background-blend-mode: color-burn; */
  background-color: #993333;
}
.footer .logo img {
  height: 65px;
  width: auto;
}
.footer-top__container {
  padding-bottom: 40px;
}
.footer-top__content {
  grid-gap: 40px;
  gap: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ffffff80;
}
.footer-top__left .text-list li {
  position: relative;
  padding-left: 15px;
}
.footer-top__left .text-list li::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 999px;
  background-color: #fff;
  top: 8px;
  left: 0;
}
.footer-top__center .item-info__icon {
  transform: translateY(4px);
}
.footer-top__right .social-link {
  width: 37px;
  height: 37px;
}
.footer-top__right .social-icon {
  height: 16px;
  max-height: 16px;
}
.footer-top__right .social-link:hover {
  background-color: #fff;
}
.footer-menu__list {
  grid-gap: 10px 40px;
  gap: 10px 40px;
}
.footer-menu__item {
  position: relative;
  padding-left: 15px;
}
.footer-menu__item::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 999px;
  background-color: #fff;
  top: 8px;
  left: 0;
}
.footer-bot {
  background-color: rgba(255, 255, 255, 0.2);
}
.footer-bot .list {
  flex-wrap: wrap;
}